.circular-progress-container {
  position: relative;
  display: inline-flex;
}

.circular-progress-svg {
  transform: rotate(-90deg);
}

.circular-progress-circle {
  transition: stroke-dashoffset 0.5s ease;
}

.circular-progress-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.circular-progress-value {
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}
